* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding-left: 0px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 32px;
    border-radius: 5px;
    border: none;
    
}

.header {
    background-color: #1F2937;
    color: #f9faf9;
    height: 72px;
    align-items: center;
    justify-content: space-around;
}

.links {
    justify-content: space-around;
    gap: 32px;
}

.logo {
    color: #f9faf9;
    font-size: 24px;
    font-weight: 600;
}

.hero {
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 560px;
    padding: 36px;
}

.hero-left {
    width: 400px;
    padding: 18px;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf9;
}

.hero-text-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.information {

}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
}